@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Roboto, sans-serif;
}

#main-container {
    display: grid; 
    grid-template-columns: minmax(250px, 300px) 5fr;
    grid-template-rows: 15% 85%;
}

#header-container {
    background-color: rgb(165, 173, 203);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 40% 60%;
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.4);
}

#search-icon,
#notification-icon {
    height: 24px;
    width: 24px;
    align-self: center;
    justify-self: end;
    margin-right: 5px;
}

#search-box {
    align-self: center;
    grid-column: 2 / 5;
    background-color: rgb(91, 96, 120);
    height: 32px;
    border-radius: 50px;
    border-style: none;
}

#header-user-container {
    display: grid;
    grid-template-columns: 1fr .3fr 1fr;
    grid-column: 5 / 8;
}

#profile-icon {
    width: 48px;
    height: 48px;
    align-self: center;
    justify-self: center;
}


#user-full-name {
    font-size: 1.5rem;
    font-weight: bold;
    align-self: center;
}

#profile-icon-big {
    width: 96px;
    height: 96px;
    align-self: center;
    justify-self: end;
    margin-right: 20px;
}

#welcome-message {
    grid-column: 2 / 5;
    align-self: center;
}

#welcome-message-small {
    padding: 0;
    margin: 0;
}

#welcome-message-big {
    font-size: 2rem;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.header-btns {
    background-color: rgb(36, 39, 58);
    color: white;
    border-style: none;
    border-radius: 50px;
    font-size: 1.25rem;
    height: 2.5em;
    width: 6em;
    justify-self: center;
}

#new-btn {
    align-self: center;
    text-align: center;
    padding: 0;
    grid-column: 5 / 6 ;
}

#upload-btn {
    align-self: center;
    text-align: center;
    padding: 0;
    grid-column: 6 / 7 ;
}

#share-btn {
    align-self: center;
    text-align: center;
    padding: 0;
    grid-column: 7 / 8 ;
}


#sidebar-container {
    display: grid;
    grid-template-rows: 50px;
    grid-column: 1;
    grid-row: 1 / -1;
    background-color: rgb(36, 39, 58);
    color: white;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
    gap: 30px;
}

#title-container {    
    display: grid;
    grid-template-columns: 48px 1fr;
}

#sidebar-title {
    font-size: 1.5rem;
    font-weight: bold;
    display: grid;
    align-self: center;
    margin-left: 30px;
}

#dashboard-icon {
    height: 48px;
    width: 48px;
    margin: 20px;
}

.nav-container ul {
    list-style: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.nav-icon {
    position: relative;
    top: 4px;
    height: 24px;
    width: 24px;
    margin-right: 10px;
}

#nav-list-1 {
    margin-bottom: 50px;
}

#nav-list-1 li,
#nav-list-2 li {
    margin-bottom: 10px;
}

#content-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(91, 96, 120);
}

#projects-title {
    font-size: 1.25rem;
    font-weight: bold;
}

#projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 30px;
    grid-column: 1 / 3;
    gap: 20px;
    margin-top: 20px;
    margin-left: 20px;
}

#projects-title {
    grid-column: 1 / 3;
}

.project-card {
    background-color: rgb(165, 173, 203);
    border-left: solid 10px;
    border-color: rgb(138, 173, 244);
    border-radius: 10px;
    box-shadow: 1px 0px 10px 1px rgba(0, 0, 0, 0.4);
    display: grid;
}

.project-card .project-title {
    font-size: 1.1rem;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.project-card .project-description {
    margin: 0;
    padding: 0;
}

#announcements-container {
    grid-column: 3 / 4;
}

#trending-container {
    grid-column: 3 / 4;
}